body {
    background-color: rgb(69, 102, 219);
        }
h1 {
text-align: center;

}
#missão{
    font-size: 20px;
}

p {
     text-align: center;
}

strong {
    color: blue;
}

}
.itens{
    font-style: italic;
}